<div>
    <div class='row'>
      <div class='column'>
          <div class="col-left" @fade>
            <img src="../../assets/profile-pic-cropped.jpg" alt="Professional headshot profile picture of Victor Mao.">
          </div>
      </div>
      <div class='column'>
          <div class="col-right">
            <h1 @fade><i class="fas fa-user"></i>Victor Mao</h1>
            <h1 @fade><i class="fas fa-map-marker-alt"></i>Dallas, TX</h1>
            <h1 class="social-media" @fadeStaggered>
                <a *ngFor="let sm of socialMediaLinks"
                    href="{{ sm.link }}"
                    target="_blank">
                    <i class="{{ sm.icon }}"></i>
                </a>
            </h1>
          </div>
      </div>
    </div>
  </div>