.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  justify-content: center;
  padding: 1%;
}

.col-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.col-right {
  justify-content: flex-start;
}

img {
  width:50%;
  border-radius: 50%;
  border: 10px solid #80e27e;
}

mat-icon {
  margin-right: 5px;
}