.row {
  height: 90vh;
}

img {
  width:50%;
  border-radius: 50%;
  border: 10px solid #69F0AE;
}

a {
    color: #673AB7;
}
a:hover {
    color:#69F0AE;
}

i {
    margin-right: 5px;
    width: 30px;
    text-align: center;
}

.social-media i {
    padding-right: 10px;
}