mat-card-subtitle {
  margin-bottom: 0;
}

i {
  margin-right: 6px;
  width: 12px;
}

.mat-card-avatar {
  border-radius: 0 !important;
  height: 60px;
  width: auto !important;
}

.wide-logo {
  width: 192px !important;
}